%h3 Контактная информация
%p 
  = enkode_mail( @config.company_email, @config.company_email, "Email Me", "#{@config.company_name} - Request" )
  = "<br /><br />#{@config.company_phone}<br />" unless @config.company_phone.blank?
  = "<br />#{link_to t(:blog), @config.blog_url}" unless @config.blog_url.blank?
  = "| #{link_to('Facebook', @config.facebook_url, :title => 'Facebook')}" unless @config.facebook_url.blank?
  = "| #{link_to('Twitter', @config.twitter_url, :title => 'Twitter')}" unless @config.twitter_url.blank?