%script{:src => "/javascripts/highslide-full.packed.js", :type => 'text/javascript'}
%script{ :type => 'text/javascript'}
  hs.lang.creditsText = ""
  hs.graphicsDir = '/images/hs-graphics/';
  hs.align = 'center';
  hs.transitions = ['expand', 'crossfade'];
  hs.outlineType = 'rounded-white';
  hs.fadeInOut = true;
  hs.dimmingOpacity = 0.75;

  hs.useBox = true;
  hs.width = 640;
  hs.height = 480;

  hs.addSlideshow({
  interval: 5000,
  repeat: false,
  useControls: true,
  fixedControls: 'fit',
  overlayOptions: {
  opacity: 1,
  position: 'bottom center',
  hideOnMouseOut: true
  }
  });



-content_for :subnav do
  %li{ :class => 'last', :style => 'padding-left: 0' } Выберите альбом: 
  - @galleries.each_with_index do |gallery, i|
    %li{ :class => "#{'last' if (i + 1) == @galleries.size}" }
      = link_to(h(gallery.title), gallery_path(gallery), :title => h(gallery.title), :class => "#{'active' if @gallery.id == gallery.id}")

#content{:class => "highslide-gallery"}
  - @gallery.gallery_photos.each_with_index do |photo, i|
    = link_to image_tag(photo.image.url(:thumb), :alt => h(photo.title)) , photo.image.url(:big), {:onclick => "return hs.expand(this)", :class => "highside"}
    %div.highslide-caption
      = h(photo.title)
  %p.clearfix